@import './utils.scss';

.icon-container {
    position: relative;
    background-color: transparent;
    // border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.icon-caontainer:hover {
    background-color: #DDD;
}

.icon-highlight-bg {
    position: absolute;
    background-color: white;
    opacity: 36%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    left: 0;
    top: 0;
}

.icon-content {
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
}