.navbar-default {
    background-color: #2699FB;
    opacity: 60%;
    overflow: hidden;
}

/* .navbar-default img {
    height: 30px;
    width: 150px;
} */

#navbar {
    overflow: hidden;
    background-color: #2699FB;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}