@import './utils.scss';

.view-events {
    background-color: #D8EDFF;
}

.view-events-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
}

.view-events-header {
    font-size: $view-title-text-size;
}

.view-event-description {
    font-size: $view-descrition-text-size;
}