.register-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #2699FB;
    width: 100%;
    height: 100vh;
}

.register-container .register-bg {
    position: absolute;
    background-color: #D8EDFF;
    opacity: 51%;
    width: inherit;
    height: inherit;
    z-index: -2;
}

.register-container form .register-border-field {
    width: 100%;
    border: #2699FB solid 1px;
    color: #2699FB;
    border-radius: 3px 3px;
    margin-bottom: 7px;
    height: 30px;
    align-items: center;
}

.register-container form .register-border-field::placeholder {
    color: #2699FB;
    font-size: 12px;
}

.register-container form .register-border-field option {
    color: #2699FB;
    font-size: 12px;
}

.register-container form .group-checkbox {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.register-container form .group-checkbox label {
    margin-left: 10px;
    font-size: 10px;
}

/*may be replace by Button component*/
.register-container form input#submit {
    /* position: relative; */
    background-color: transparent;
    color: #2699FB;
    border: 1px solid #2699FB;
    border-radius: 3px 3px;
    width: 100px;
    height: 30px;
    margin: 10px auto;
    vertical-align: middle;
}