.sticky-bar-top-container {
    /* position: relative; */
    top: 0;
    background-color: #2699FB;
    /* padding-right: 15px; */
}

.sticky-bar-bottom-container {
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    padding-right: 15px;
    padding-bottom: 10px;
}

.sticky-bar-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    opacity: 60%;
}

.sticky {
    position: fixed;
    width: 100%;
}

.icon-container:hover {
    /* border-radius: 50%; */
    /* border: 5px #CCCCCC solid; */
    /* outline: #CCCCCC solid 5px; */
    /* shape-outside: circle(); */
    background-color: #DDD;
}

/* .icon-container:hover .icon {
    fill: #2699FB;
    stroke: #2699FB;
} */

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 38px;
    height: 38px;
    /* margin: 5px; */
    /* border: 5px #CCCCCC; */
    /* outline: #CCCCCC solid; */
    /* background-color: white; */
    border-radius: 50%;
    /* shape-outside: circle(50%); */
}

.icon-container div {
    /* position: relative; */
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.icon-container img {
    position: absolute;
}