.sticky-bar-top-container {
    /* position: relative; */
    top: 0;
    background-color: #2699FB;
}

.sticky-bar-bottom-container {
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
}

.sticky-bar-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    opacity: 60%;
}

.sticky {
    position: fixed;
    width: 100%;
}

.icon-container:hover {
    border-radius: 50%;
    border: 5px #CCCCCC solid;
}

/* .icon-container:hover .icon {
    fill: #2699FB;
    stroke: #2699FB;
} */

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 33px;
    height: 33px;
    background-color: white;
}

.icon {
    position: relative;
}