.game-content-container {
    width: 450px;
    height: auto;
    color: white;
    margin-bottom: 45px;
    margin-left: 15vw;
}

/* .game-content-container h1,p {
    
} */

.game-content-container .rate-container {
    display: flex;
    flex-direction: row;
}

.game-content-container .rate-container p {
    font-size: x-small;
    margin-right: 15px;
}

.game-content-container .game-description {
    margin-top: 25px;
    font-size: medium;
}

.hotspot-market-container {
    background-color: #D8EDFF;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 15vw;
    padding-right: 15vw;
}
ß
.hotspot-market-container h4 {
    color: #2699FB;
}

.hotspot-market-container .market-buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hotspot-market-container .market-buttons-container img {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 2px;
    margin-right: 2px;
}