// Global SCSS config

// Global Font size
$font-size-large: 45px;
$font-size-m-large: 35px;
$font-size-normal: 25px;
$font-size-m-normal: 20px;
$font-size-small: 15px;
$font-size-m-small: 12px;
$font-size-s-small: 10px;